.holder {
  position: relative;
  overflow: hidden;
  font-variant-ligatures: none;

  /* opinionated styles below */
  background: #eee;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 56px;
  border: 1px solid black;
}

.holder > input {
  display: block;
  font: inherit;  /* important, so rendered version looks the same */
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;  /* firefox has an off-by-one bug for emoji */
  resize: none;  /* in case we are textarea */
}

.holder > .render {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  will-change: transform;
  pointer-events: none;  /* don't steal events from input */
  user-select: none;
  white-space: pre;
  visibility: hidden;  /* DON'T draw normal rendered text */
}

.holder > .render > .align {
  /* place markup at the same place as, but behind the input */
  position: absolute;
  z-index: -1;
  width: 100%;  /* firefox needs this otherwise it shrinks */
  word-break: break-word;  /* makes browsers match firefox */
}

.holder > .render > .align > span {
  visibility: visible;  /* .. but draw special markup */
  color: red;
}

.holder > .render > .autocomplete {
  visibility: visible;  /* .. but draw autocomplete suggestion */
  opacity: 0.5;
}